---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  font-weight: normal;
}

.title, .subtitle {
  font-weight: normal;
}

nav {
  margin-top: 1em;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: block;
  margin-bottom: 0.25em;
}

header {
  background: white;
}

section {
  background: white;
}

footer {
  z-index: -1;
}

iframe {
  margin-bottom: 1em;
}