---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  font-weight: normal;
}

.title, .subtitle {
  font-weight: normal;
}

nav ul {
  margin-top: 1em;
  padding-left: 0;
}

nav li {
  display: block;
}
