---
---

@import "normalize.css";

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 1.4;

  display: grid;

  background: white;
  color: black;
}

@media screen {
  body {
    font-size: 18px;
  }

  nav {
    grid-area: nav;
  }

  #cover {
    grid-area: cover;
  }

  article {
    grid-area: article;
  }

  footer {
    grid-area: footer;
    background: white;
    color: black;
  }
}

@media screen and (min-width: 800px) {
  body {
    grid-template-columns: [l] 18em [mc] 1fr [r];
    grid-template-rows: [t] auto [cn] 1fr [nf] auto [b];
    grid-template-areas:
      "cover article"
      "nav article"
      "footer footer";
    gap: 2em;
    padding: 2em;
  }

  header img {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  body {
    grid-template-columns: [l] 1fr [r];
    grid-template-rows: [t] auto [ah] 1fr [hf] auto [b];
    grid-template-areas:
      "cover"
      "article"
      "nav"
      "footer";
    gap: 2em;
    padding: 1em;
  }

  header img {
    height: 320px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}


@media print {
  @page {
    margin: 2cm;
  }

  article:before {
    content: "Java to Kotlin: A Refactoring Guidebook";
    font-weight: normal;
    color: darkred;
    line-height: 1.2;
  }

  nav {
    display: none;
  }

  #cover {
    display: none;
  }

  footer {
    display: none;
  }

  #converter {
    display: none;
  }

  a:after {
    content: " (" attr(href) ")"
  }
}

img {
  object-fit: contain;
}

#cover img {
  filter: drop-shadow(0px 4px 4px #00000044);
}

a:hover, a:focus {
  font-weight: normal;
  text-underline: none;
}

.title, .subtitle {
  font-weight: normal;
}

nav {
  ul {
    padding-left: 0;
  }

  li {
    display: block;
    margin-bottom: 0.25em;
  }
}

iframe {
  margin-bottom: 1em;
}

img {
  display: block;
  position: static;
  width: 80%;
}

h1, h2, h3, h4, h5, h6, title {
  font-weight: normal;
  color: darkred;
  line-height: 1.2;
}

blockquote {
  margin-left: 0;
}

a {
  text-decoration: none;
  color: #445588;

  :visited {
    color: darken(#445588, 10%);
  }

  :hover {
    color: lighten(#445588, 10%);
    text-decoration: underline;
  }
}

article a {
  font-weight: normal;
}

@import "rouge.css";

.highlight {
  font-size: smaller;
  padding: 0.15em 0.5em;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
